@tailwind base;
@tailwind components;
@tailwind utilities;

/* BODY CART */
.text__image {
    position: relative;
    display: inline-block;
}

.text__image img {
    width: 100%; 
    height: auto; 
}

.text__content {
    position: absolute;
    top: 50%; 
    left: 10%; 
    transform: translateY(-50%); 
    color: black; 
    font-weight: 900;
    padding: 10px 20px;
    font-size: 60px; 
    font-weight: bold;
    border-radius: 5px;
}