*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.left-\[20\%\] {
  left: 20%;
}

.z-50 {
  z-index: 50;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-20 {
  margin-left: 5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-auto {
  height: auto;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2\/3 {
  width: 66.666667%;
}

.max-w-56 {
  max-width: 14rem;
}

.scale-75 {
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-90 {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[0\.4\] {
  --tw-scale-x: 0.4;
  --tw-scale-y: 0.4;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}

.bg-white\/90 {
  background-color: rgb(255 255 255 / 0.9);
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-64 {
  padding: 16rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-semibold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity, 1));
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.duration-500 {
  transition-duration: 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h5 {
  padding-top: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
  font-family: "Great Vibes", serif;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: italic;
  font-family: "Cormorant", serif;
}

.fontCormorant {
  font-family: "Cormorant", serif;
}

.fontGreatVibes {
  font-family: "Great Vibes", serif;
}

.hr__main {
  position: relative;
  height: 4rem;
}

.hr__main::before {
  content: "";
  position: absolute;
  left: 33.333333%;
  right: 33.333333%;
  top: 50%;
  height: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(193 157 86 / var(--tw-bg-opacity, 1));
}

.hr__main::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.5rem;
  width: 0.5rem;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(193 157 86 / var(--tw-bg-opacity, 1));
}

.btn1 {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn1:hover {
  --tw-border-opacity: 1;
  border-color: rgb(193 157 86 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(193 157 86 / var(--tw-bg-opacity, 1));
}

.btn2 {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(193 157 86 / var(--tw-border-opacity, 1));
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn2:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(193 157 86 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn3 {
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(193 157 86 / var(--tw-border-opacity, 1));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

.active {
  position: relative;
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

.active::before {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 1.25px;
  width: 1rem;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(193 157 86 / var(--tw-bg-opacity, 1));
}

/* ---------------------------------- HEADER ---------------------------------- */

header {
  position: fixed;
  z-index: 20;
  width: 100%;
  letter-spacing: 0.025em;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

header .subMenu {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  header .subMenu {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  header .subMenu {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  header .subMenu {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  header .subMenu {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  header .subMenu {
    max-width: 1536px;
  }
}

header .subMenu {
  margin-top: -1.5rem;
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

header .subMenu ul {
  padding-bottom: 0.5rem;
}

header .subMenu li {
  border-bottom-width: 1px;
  border-color: rgb(200 200 200 / 0.4);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-duration: 300ms;
}

header .subMenu li:hover {
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

.header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .header {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .header {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .header {
    max-width: 1536px;
  }
}

.header {
  margin-top: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media (min-width: 1024px) {
  .header {
    margin-top: 0.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.header nav {
  display: none;
}

@media (min-width: 768px) {
  .header nav {
    display: block;
  }
}

.header nav ul {
  display: flex;
  gap: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header nav ul li {
  position: relative;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.header nav ul li:hover {
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

.header nav ul li:hover::before {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 1.25px;
  width: 1rem;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(193 157 86 / var(--tw-bg-opacity, 1));
}

.active {
  position: relative;
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

.active::before {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 1.25px;
  width: 1rem;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(193 157 86 / var(--tw-bg-opacity, 1));
}

.header__right {
  display: none;
  align-items: center;
}

@media (min-width: 768px) {
  .header__right {
    display: flex;
  }
}

.header__right .cart {
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(193 157 86 / var(--tw-border-opacity, 1));
  padding-right: 0.5rem;
}

.header__miniNav {
  display: block;
  transition-duration: 500ms;
}

@media (min-width: 768px) {
  .header__miniNav {
    display: none;
  }
}

.header__miniNav button:hover img {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* Login */

button.login {
  margin-left: 0.5rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgb(0 0 0 / 0.6);
  padding: 0.25rem;
  text-align: center;
  color: rgb(0 0 0 / 0.6);
  transition-duration: 300ms;
}

button.login:hover {
  height: auto;
  width: auto;
  --tw-border-opacity: 1;
  border-color: rgb(193 157 86 / var(--tw-border-opacity, 1));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

button.login i {
  position: relative;
  bottom: 2px;
}

button.login i:hover {
  bottom: 0px;
}

button.login span {
  display: none;
}

button.login:hover span {
  margin-left: 0.25rem;
  display: inline-block;
}

/* ---------------------------------- CAROUSEL ---------------------------------- */

.carousel {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: right;
  background-image: url("../../assets/img/carousel.jpg");
  background-size: cover;
  animation: zoomIn 20s ease-in-out infinite;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.carousel__content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .carousel__content {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .carousel__content {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .carousel__content {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .carousel__content {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .carousel__content {
    max-width: 1536px;
  }
}

.carousel__content {
  position: relative;
  width: 75%;
  border-radius: 0.5rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .carousel__content {
    width: 50%;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

.carousel__content--zoomLevel {
  background-color: rgb(242 239 238 / 0.5);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 1280px) {
  .carousel__content--zoomLevel {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.carousel__content h5 {
  font-size: 3rem;
  line-height: 1;
}

@media (min-width: 1024px) {
  .carousel__content h5 {
    font-size: 3.75rem;
    line-height: 1;
  }
}

.carousel__content h1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .carousel__content h1 {
    font-size: 6rem;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  .carousel__content h1 {
    letter-spacing: 0.05em;
  }
}

.carousel__button {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
}

/* ---------------------------------- FEATURED PRODUCTS ---------------------------------- */

.featured__products {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .featured__products {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .featured__products {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .featured__products {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .featured__products {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .featured__products {
    max-width: 1536px;
  }
}

.featured__products {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.featured__products__content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 4rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .featured__products__content {
    width: 66.666667%;
  }
}

.featured__products__content h1 {
  margin-top: 0.75rem;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .featured__products__content h1 {
    letter-spacing: 0.05em;
  }
}

/* productList áp dụng cho cả trang Shop.html */

.product__list {
  margin-top: -3rem;
  display: grid;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .product__list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .product__list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.product__item {
  width: 100%;
}

.product__item__action {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 255 255 / 0.7);
  font-weight: 600;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.product__item__action:hover {
  opacity: 1;
}

.product__item__content {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  text-align: center;
}

.product__item__content h1 {
  font-size: 16px;
}

@media (min-width: 1024px) {
  .product__item__content h1 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.product__item__content p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.product__item__content p:hover {
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .product__item__content p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.seeMore {
  position: relative;
  margin-top: -0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: rgb(0 0 0 / 0.7);
  transition-duration: 300ms;
}

.seeMore:hover {
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

.seeMore:hover button::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  height: 1px;
  width: 2.5rem;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(193 157 86 / var(--tw-bg-opacity, 1));
}

/* ---------------------------------- FOOTER ---------------------------------- */

footer {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
  text-align: center;
}

footer p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgb(200 200 200 / var(--tw-text-opacity, 1));
  font-family: "Cormorant", serif;
}

.footer__main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .footer__main {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .footer__main {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .footer__main {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .footer__main {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .footer__main {
    max-width: 1536px;
  }
}

.footer__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 4rem;
  padding: 3rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .footer__main {
    padding: 5rem;
  }
}

.footer__contact,
.footer__content,
.footer__map {
  width: 100%;
}

@media (min-width: 1024px) {
  .footer__contact,
.footer__content,
.footer__map {
    width: 33.333333%;
  }

  .footer__contact {
    padding-right: 1.25rem;
    text-align: left;
  }
}

.footer__contact h2 {
  margin-top: 1.75rem;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
}

.footer__contact a {
  cursor: pointer;
  transition-duration: 300ms;
}

.footer__contact a:hover {
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

.footer__content__title h5 {
  padding-top: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
  font-family: "Great Vibes", serif;
}

.footer__content__title h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.025em;
}

.footer__logo {
  display: flex;
  justify-content: center;
}

.social__icons {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  row-gap: 1rem;
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

.social__icons a {
  position: relative;
  z-index: 10;
  height: 2.5rem;
  width: 2.5rem;
}

.social__icons a::before {
  content: "";
  position: absolute;
  left: 0px;
  z-index: 0;
  height: 2.5rem;
  width: 2.5rem;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(193 157 86 / var(--tw-border-opacity, 1));
  line-height: 2rem;
  transition-duration: 300ms;
}

.social__icons a:hover::before {
  --tw-bg-opacity: 1;
  background-color: rgb(193 157 86 / var(--tw-bg-opacity, 1));
}

.social__icons a i {
  position: relative;
  z-index: 10;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
}

.social__icons a:hover i {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.footer__map {
  position: relative;
}

@media (min-width: 1024px) {
  .footer__map {
    right: -1.5rem;
  }
}

.footer__map a img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer__bottom {
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-top-color: rgb(193 157 86 / var(--tw-border-opacity, 1));
  padding: 0.75rem;
  text-align: center;
}

.footer__bottom p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.footer__bottom p a {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.footer__bottom p a:hover {
  --tw-text-opacity: 1;
  color: rgb(193 157 86 / var(--tw-text-opacity, 1));
}

/* CÒN THIẾU BACK TO TOP */

/* ------------------- POPUP SHOW DETAIL PRODUCT ------------------- */

.product__modal {
  width: 100%;
  max-width: 42rem;
  --tw-scale-x: 0.3;
  --tw-scale-y: 0.3;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding: 1.5rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px) {
  .product__modal {
    --tw-scale-x: .5;
    --tw-scale-y: .5;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 1024px) {
  .product__modal {
    max-width: 48rem;
    --tw-scale-x: 0.8;
    --tw-scale-y: 0.8;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 1280px) {
  .product__modal {
    max-width: 56rem;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

#popupTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

button#close-popup {
  margin-top: 1rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

button#close-popup:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

#popup-content {
  margin-top: 1rem;
}

.popup__content__main {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#product-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

#product-description {
  margin-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

#popup-full-description {
  margin-top: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

#product-price {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity, 1));
}

.product__quantity {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ---------------------------------- SHOP.HTML ---------------------------------- */

.shop {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .shop {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .shop {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .shop {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .shop {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .shop {
    max-width: 1536px;
  }
}

.shop {
  padding-top: 8rem;
  padding-bottom: 2.5rem;
}

.shop__banner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 8rem;
  padding-bottom: 5rem;
  text-align: left;
  background: url("../../assets/img/shop-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: zoomIn 20s ease-in-out infinite;
}

.shop__banner h1 {
  margin-top: 0.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 3.75rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .shop__banner h1 {
    font-size: 6rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .shop__banner h1 {
    letter-spacing: 0.05em;
  }
}

.shop__search {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .shop__search {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .shop__search {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .shop__search {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .shop__search {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .shop__search {
    max-width: 1536px;
  }
}

.shop__search {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: right;
}

.btn__dropdown {
  border-start-start-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(0 0 0 / 0.5);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.05em;
  color: rgb(0 0 0 / 0.5);
}

.btn__dropdown:hover {
  border-color: rgb(0 0 0 / 0.7);
  color: rgb(0 0 0 / 0.7);
}

.btn__dropdown:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#dropdownMenu {
  position: absolute;
  left: 0px;
  z-index: 30;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  background-color: rgb(255 255 255 / 0.1);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.dropdown__content {
  padding: 0.5rem;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Cormorant", serif;
}

.btn__showSelected {
  margin-top: 1rem;
  margin-left: -0.25rem;
  border-start-end-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(0 0 0 / 0.7);
  background-color: rgb(0 0 0 / 0.7);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn__showSelected:hover {
  border-color: rgb(0 0 0 / 0.8);
  background-color: rgb(0 0 0 / 0.8);
}

.btn__showSelected:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#selectedValues {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  #selectedValues {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  #selectedValues {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  #selectedValues {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  #selectedValues {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  #selectedValues {
    max-width: 1536px;
  }
}

#selectedValues {
  position: relative;
  left: 0px;
  margin-top: 2.5rem;
  margin-bottom: -5rem;
  text-align: left;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 100;
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

/* ---------------------------------- END SHOP.HTML ---------------------------------- */

@media (min-width: 768px) {
  .md\:ml-8 {
    margin-left: 2rem;
  }
}

@media (min-width: 1024px) {
  .lg\:ml-0 {
    margin-left: 0px;
  }

  .lg\:scale-\[0\.7\] {
    --tw-scale-x: 0.7;
    --tw-scale-y: 0.7;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}
