<!-- TRANG GIỎ HÀNG: HOÀNG -->
<!--  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../../assets/css/output.css" />
</head>
<body>
    <!-- HEADER -->
    <!-- BODY -->
    <div class="container mt-10">
        <div class="text__image">
            <h2 class="text__content">CART</h2>
            <img src="../../assets/img/banner.jpg" alt="">
        </div>
        <div class="mt-52">
            <button class="border border-primary p-2 bg-primary ">
                <span >RETURN TO SHOP</span>
            </button>
        </div>
    </div>
    <!-- FOOTER -->
</body>
</html>